.JSContent {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: none;
    .JSGutterWrapper {
        display: inline-block;
        vertical-align: top;
        width: 60px;
        user-select: none;
        position: relative;
        .JSGutter {
            text-align: center;
            height: 20px;
            line-height: 20px;
        }
    }
    .JSLineWrapperHidden {
        display: inline-block;
        height: 100%;
        user-select: none;
        position: relative;
        cursor: text;
        overflow: hidden;
        .JSLineWrapperBackground {
            width: 1e+06px;
            height: 1e+06px;
            .JSLineWrapper {
                position: absolute;
                // width: 687px;
                // height:920px;
                .JSLine {
                    // margin: 0 8px 0 0;
                    // display: table-row-group;
                    width: 100%;
                    white-space: nowrap;
                    height: 20px;
                    line-height: 20px;
                    position: absolute;
                    .JSLineSpan {
                        position: relative;
                        .kTextDeclaration, .kTextThis, .kTextBool, .kTextFunction, .kTextGlobal, .kTextNew, .kTextDataType{
                            color: #4098e0;
                        }
                        .kTextVariable{
                            color: #90d2f5;
                        }
                        .kTextBracket{
                            color: #fff;
                        }
                        .kTextComma{
                            color: #fff;
                        }
                        .kTextEqual{
                            color: #fff;
                        }
                        .kTextString{
                            color: rgba(199, 140, 116, 1);
                        }
                        .kTextAnnotation{
                            color: rgba(105, 151, 84, 1);
                        }
                        .kTextNumber{
                            color: rgba(180, 204, 167, 1);
                        }
                        .kTextLoopJudge{
                            color: #d27bda;
                        }
                        .kTextOther{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}