.JSEditor {
  width: 100%;
  height: 100%;
  font-family: monospace;
  position: relative;
  .JSTextareaWrap {
    height: 0;
    overflow: hidden;
  }
  .JSCursor {
    height: 20px;
    width: 1px;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    animation: blink 1s infinite;
    display: none;
    z-index: 1;
  }
  @keyframes blink {
    from {
      z-index: 1;
    }
    to {
      z-index: -1;
    }
  }
  .JSContent {
    position: relative;
    width: calc(100% - 60px);
    height: 100%;
    overflow: auto;
    padding-left: 60px;
    outline: none;
    .JSLineWrapper {
      height: 20px;
      line-height: 20px;
      display: table-row-group;
      .JSGutter {
        position: absolute;
        left: 0;
        display: inline-block;
        width: 60px;
        text-align: center;
        vertical-align: top;
      }
      .JSLine {
        display: inline-block;
        margin: 0 8px 0 0;
        line-height: 1;
      }
    }
  }
}