.JSEditor {
  width: 100%;
  height: 100%;
  font-family: monospace;
  position: relative;
  .JSTextareaWrap {
    height: 0;
    overflow: hidden;
  }
  .JSCursor {
    height: 20px;
    width: 2px;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    animation: blink 1s infinite;
    display: none;
    z-index: 1;
  }
  @keyframes blink {
    from {
      z-index: 1;
    }
    to {
      z-index: -1;
    }
  }
  .JSContent {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    outline: none;
    .JSGutterWrapper {
      display: inline-block;
      vertical-align: top;
      width: 60px;
      user-select: none;
      .JSGutter {
        text-align: center;
        height: 20px;
        line-height: 20px;
      }
    }
    .JSLineWrapper {
      display: inline-block;
      width: calc(100% - 60px);
      user-select: none;
      .JSLine {
        margin: 0 8px 0 0;
        display: table-row-group;
        white-space: nowrap;
        height: 20px;
        line-height: 20px;
        .JSLineSpan{
          position: relative;
        }
      }
    }
    // .JSLineWrapper {
    //   height: 20px;
    //   line-height: 20px;
    //   display: table-row-group;
    //   cursor: pointer;
    //   .JSGutter {
    //     position: absolute;
    //     left: 0;
    //     display: inline-block;
    //     text-align: center;
    //     vertical-align: top;
    //   }
    //   .JSLine {
    //     display: inline-block;
    //     margin: 0 8px 0 0;
    //     line-height: 1;
    //   }
    // }
  }
}
