.JSHorizonScroll {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    .JSHorizonScrollSlider {
        height: 100%;
        position: absolute;
        background: rgba(255, 255, 255, .3);
        border-radius: 6px;
        &:hover {
            background: rgba(255, 255, 255, .5);
        }
    }
}

.JSVerticalScroll {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    .JSVerticalScrollSlider {
        width: 100%;
        position: absolute;
        background: rgba(255, 255, 255, .3);
        border-radius: 6px;
        &:hover {
            background: rgba(255, 255, 255, .5);
        }
    }
}