.JSTextareaWrap {
  height: 0;
  position: absolute;
  .JSTextarea {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: transparent;
    resize: none;
    width: 1px;
    height: 1px;
  }
}
